<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dscvast.kootu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FamilyActivity"
            android:label="Family"
            android:screenOrientation="portrait" />
        <activity android:name=".ParentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Food"
            android:screenOrientation="portrait" />
    </application>

</manifest>